In [ ]:
# https://medium.com/towards-data-science/time-left-to-live-modeling-life-expectancy-and-prototyping-it-on-the-web-with-flask-and-68e3a8fa0fe4

In [1]:
# Data: World Health Organization (WHO) Global Health Observatory Data

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

# create fictitious data set
simple_life_dataset = pd.DataFrame({'Age' : [0, 60], 'Life Expectancy' : [90, 30]})

In [3]:
simple_life_dataset.head()

   Age  Life Expectancy
0    0               90
1   60               30

In [4]:
import numpy as np
from scipy import stats

slope, intercept, r_value, p_value, std_err = stats.linregress(simple_life_dataset['Age'], 
                                                               simple_life_dataset['Life Expectancy'])

In [5]:
print("intercept", intercept)
print("slope", slope)

intercept 90.0
slope -1.0

In [6]:
slope * 20 + intercept

70.0

In [21]:
# load WHO longevity data
who_list_1 = pd.read_csv('https://apps.who.int/gho/athena/data/GHO/WHOSIS_000001,WHOSIS_000015?filter=COUNTRY:*&x-sideaxis=COUNTRY;YEAR&x-topaxis=GHO;SEX&profile=verbose&format=csv')
who_list_2 = pd.read_csv('https://apps.who.int/gho/athena/data/GHO/WHOSIS_000001,WHOSIS_000002,WHOSIS_000003,WHOSIS_000004,WHOSIS_000015?filter=COUNTRY:*&x-sideaxis=COUNTRY;YEAR&x-topaxis=GHO;SEX&profile=verbose&format=csv')

In [22]:
#who_list.to_csv('WHOSIS_000001,WHOSIS_000002,WHOSIS_000015.csv')

In [23]:
# Keep only useful features fix case display of country text
who_list_1 = who_list[["GHO (DISPLAY)", "YEAR (CODE)", "COUNTRY (DISPLAY)",
                     "SEX (DISPLAY)", "Numeric"]]

who_list_1['COUNTRY (DISPLAY)'] = [ctry.title() for ctry in who_list['COUNTRY (DISPLAY)'].values]

who_list_1.head(10)

,GHO (DISPLAY),YEAR (CODE),COUNTRY (DISPLAY),SEX (DISPLAY),Numeric
0,Life expectancy at age 60 (years),2000,Afghanistan,Male,13.63259
1,Life expectancy at birth (years),2010,Afghanistan,Male,59.60036
2,Healthy life expectancy (HALE) at birth (years),2015,Afghanistan,Male,52.78430
3,Life expectancy at age 60 (years),2000,Afghanistan,Female,14.20647
4,Life expectancy at birth (years),2010,Afghanistan,Female,60.29720
5,Healthy life expectancy (HALE) at birth (years),2019,Afghanistan,Female,53.15305
6,Life expectancy at age 60 (years),2000,Afghanistan,Both sexes,13.92182
7,Life expectancy at birth (years),2010,Afghanistan,Both sexes,59.94055
8,Life expectancy at age 60 (years),2010,Afghanistan,Both sexes,15.12046
9,Healthy life expectancy (HALE) at birth (years),2019,Afghanistan,Both sexes,53.94961

In [20]:
who_list[who_list['COUNTRY (DISPLAY)'] == 'France'].head(10)

,GHO (DISPLAY),YEAR (CODE),COUNTRY (DISPLAY),SEX (DISPLAY),Numeric
336,Life expectancy at birth (years),2010,France,Male,77.96297
337,Life expectancy at age 60 (years),2010,France,Male,22.34975
338,Life expectancy at birth (years),2010,France,Female,84.34424
339,Life expectancy at age 60 (years),2010,France,Female,26.76762
340,Life expectancy at birth (years),2015,France,Female,84.71786
341,Life expectancy at age 60 (years),2010,France,Both sexes,24.70755
342,Life expectancy at birth (years),2015,France,Both sexes,81.91320
745,Life expectancy at birth (years),2019,France,Male,79.75678
746,Life expectancy at age 60 (years),2019,France,Male,23.27017
747,Life expectancy at age 60 (years),2019,France,Female,27.21364